*{
    margin: 0px;
    padding: 0px;
}

/* Estilos globais */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
  }
  
  /* Estilos do cabeçalho */
  header {
    background-color: #999;
    color: #fff;
    padding: 30px;
  }

  header img{
    width: 60px;
    float: right;
    margin-top: -20px;
  }
  
  nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }
  
  nav ul li {
    display: inline;
    margin-right: 10px;
  }
  
  nav ul li a {
    color: #63318a;
    text-decoration: none;
  }
  
  /* Estilos do herói */
  #hero {
    background-image: url('hero-background.jpg');
    background-size: cover;
    background-position: center;
    height: 500px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .hero-content {
    text-align: center;
    color: #fff;
  }
  
  .hero-content h1 {
    font-size: 36px;
    margin-bottom: 20px;
  }
  
  .cta-btn {
    display: inline-block;
    background-color: #333;
    color: #fff;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 5px;
  }
  
  /* Estilos das seções */
  .section {
    padding: 50px 0;
    background-color: #f1f1f1;
  }
  
  .container {
    width: 80%;
    margin: 0 auto;
    text-align: center;
  }
  
  .container h2 {
    font-size: 24px;
    margin-bottom: 20px;
  }
  
  .container p {
    font-size: 18px;
  }
  
  /* Estilos do formulário de contato */
  form {
    margin-top: 20px;
  }
  
  form input,
  form textarea {
    display: block;
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
  }
  
  form textarea {
    height: 100px;
  }
  
  form button {
    background-color: #333;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  /* Estilos do rodapé */
  footer {
    background-color: #333;
    color: #fff;
    padding: 10px;
    text-align: center;
  }
  
  




